head(ng-controller="TitleController")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no minimal-ui')

  title(ng-bind='Page.title() + " | Octobox"')
    | Welcome to Octobox
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="octobox, dropbox, organize, store, research, evernote alternative")
  meta(name="description", content="Octobox - Organization for busy minds.")

  link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(href='/img/apple-touch-icon.png' rel='apple-touch-icon')

  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Octobox - Organization for busy minds.')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Octobox')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  link(href='../css/style.min.css', rel='stylesheet', type='text/css')
  //- script.
  //-   (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
  //-   for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  //-   mixpanel.init("c748f6af611144eb93c0ea98281fb4ce")

  base(href='/')
